{% extends 'base.html' %}

{% block content %}
<form method="post">
    {{ form.csrf_token }}
    
    <div class="field">
        <label class="label">{{ form.title.label }}</label>
        <div class="control">
            {{ form.title(size=120, class="input") }}
        </div>
    </div>

    <div class="field">
        <label class="label">{{ form.body.label }}</label>
        <div class="control">
            {{ form.body(class="textarea", spellcheck='false') }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-primary">Post</button>
        </div>
    </div>
</form>
{% endblock %}
