{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            {% if posts %}
            {% for post in posts %}
                <div class="box">
                    <div class="mb-5" style="display: flex; flex-direction: column;">
                        <h1 class="title mb-0">
                            <a href="{{ url_for('posts.view_post', post_id=post.id) }}" style="width: auto">{{ post.title }}</a>
                        </h1>
                        <div style="display: flex;">
                            <span class="is-size-6">by <a href="{{ url_for('user.user_profile', username=post.user.username) }}">{{ post.user.username }}</a></span>
                            <figure class="image is-16x16 ml-1">
                                {% if post.user.avatar %}
                                    <img class="is-rounded" src="{{ url_for('static', filename='avatars/'+post.user.avatar) }}" alt="{{ post.user.username }}'s avatar">
                                {% else %}
                                    <img class="is-rounded" src="{{ url_for('static', filename='avatars/empty_icon.png') }}" alt="No icon">
                                {% endif %}
                            </figure>
                        </div>
                    </div>

                    <div class="content">
                        {% set max_words = 90 %}
                        {% set words = post.body.split(' ') %}
                        {% set truncated_body = ' '.join(words[:max_words]) %}
                        {{ (truncated_body).replace('\n', '<br>')|safe }}
                        {% if words|length > max_words %}
                        ...<br><br><a class="button is-link is-light" href="{{ url_for('posts.view_post', post_id=post.id) }}">View the full post</a>
                        {% endif %}
                    </div>
                    <span class="is-unselectable">
                        <span class="icon is-small like-icon" data-post-id="{{ post.id }}" onclick="likePost(this)" style="cursor: pointer">
                            <i class="far fa-thumbs-up" aria-hidden="true"></i>
                        </span>
                        <span id="likesCount_{{ post.id }}">{{ post.likes_count }}</span>
                    </span>
                    <div class="is-size-7 has-text-grey">Created at: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                </div>

            {% endfor %}
            {% else %}
                <p class="has-text-centered has-text-grey">No posts available.</p>
            {% endif %}
        </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
{% endblock %}
