{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter is-flex is-flex-direction-column">
                <form method="post" id="avatarForm" style="padding: 0" enctype="multipart/form-data">
                    <label for="avatarInput" style="cursor: pointer; display: inline-block;">
                        <figure class="image is-128x128 mb-2">
                            {% if user.avatar %}
                                <img class="is-rounded" src="{{ url_for('static', filename='avatars/'+user.avatar) }}" alt="Avatar">
                            {% else %}
                                <img class="is-rounded" src="{{ url_for('static', filename='avatars/avatar.png') }}" alt="example">
                            {% endif %}
                        </figure>
                    </label>
                    <input type="file" id="avatarInput" name="avatar" style="display: none;"
                           accept="image/png, image/jpg, image/jpeg" onchange="document.getElementById('avatarForm').submit()">
                </form>

                <strong class="title">{{ user.username }}</strong>
                <p class="is-size-5" id="email-status">
                    Email:
                    {% if user.is_active %}
                    <span class="has-text-success">verified!</span>
                    {% else %}
                    <span class="has-text-danger" onclick="showEmailForm()" style="cursor: pointer">not verified!</span>
                    {% endif %}
                </p>
                <p class="is-size-5">Created at: {{ user.created.strftime('%Y-%m-%d') }}</p>
                {% if user.is_admin %}
                <p><a href="{{ url_for('/admin_panel.index') }}" class="button is-link is-light">Admin panel</a></p>
                {% endif %}
            </div>
            <div class="column is-four-fifths">
                <h1 class="title is-size-3">My posts</h1>
                {% if posts %}
                    {% for post in posts %}
                        <div class="box">
                            <h1 class="title"><a href="{{ url_for('posts.view_post', post_id=post.id) }}">{{ post.title }}</a></h1>
                            <div class="content">
                                {% set max_words = 90 %}
                                {% set words = post.body.split(' ') %}
                                {% set truncated_body = ' '.join(words[:max_words]) %}
                                {{ (truncated_body).replace('\n', '<br>')|safe }}
                                {% if words|length > max_words %}
                                    ...<br><br><a class="button is-link is-light" href="{{ url_for('posts.view_post', post_id=post.id) }}">View the full post </a>
                                {% endif %}
                            </div>
                            <span class="is-unselectable">
                                <span class="icon is-small like-icon" data-post-id="{{ post.id }}" onclick="likePost(this)" style="cursor: pointer">
                                    <i class="far fa-thumbs-up" aria-hidden="true"></i>
                                </span>
                                <span id="likesCount_{{ post.id }}">{{ post.likes_count }}</span>
                            </span><br><br>
                            <a href="{{ url_for('posts.edit_post', post_id=post.id) }}" class="button is-link is-light">Edit</a>
                            <button class="button is-danger is-light" onclick="confirmDelete('{{ post.id }}')">Delete</button>
                            <br><br>
                            <div class="is-size-7 has-text-grey">Creator: <a href="{{ url_for('user.user_profile', username=post.user.username) }}">{{ post.user.username }}</a></div>
                            <div class="is-size-7 has-text-grey">Created at: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        </div>
                    {% endfor %}


                {% else %}
                <h1 class="title is-size-5 has-text-grey is-unselectable">I haven't written anything yet, but I can always start</h1>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script>
    function confirmDelete(postId) {
        var isConfirmed = window.confirm("Are you sure want to delete this post?");
        if (isConfirmed) {
            var form = document.createElement('form');
            form.method = 'post';
            form.action = '{{ url_for("posts.delete_post", post_id="") }}' + postId;

            document.body.appendChild(form);
            form.submit();
        }
    }
    function showEmailForm() {
        var emailStatus = document.getElementById('email-status');
        emailStatus.innerHTML = 'Email:';

        var form = document.createElement('form');
        form.method = 'post';
        form.action = '{{ url_for("user.auth.resend_email") }}';

        var input = document.createElement('input');
        input.type = 'email';
        input.name = 'email';
        input.placeholder = 'Enter new email';

        var submitButton = document.createElement('button');
        submitButton.type = 'submit';
        submitButton.innerText = 'Submit';

        form.appendChild(input);
        form.appendChild(submitButton);

        emailStatus.appendChild(form);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
{% endblock %}
